@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  font-family: 'Inter',sans-serif;
   text-decoration: none;
   
}
body{
    height: 100vh;
    width: 100vw;
    text-align: center;
    
   
}
.container{
   overflow-x: hidden;
   padding: 10px;
   padding-left:5%;
}
.inside{
    
    
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
   ;
   
}
@media screen and (max-width:800px){
    .inside{
        display: flex;
        justify-content: space-between;
       align-items: center;
       width: 100%;
       
    }
}

.header{
  height: 7rem;
  
  display: flex;
 
}
.header h1{
    font-weight: bolder;
    font-size: 2.3rem;
 font-family: monospace;
 position: static;
}
.fir{
    display: flex;
    align-items: center;
}

.fir img{
  height: 30px;
}
.mid{
    display: none;
}
@media screen and (min-width:800px){
    .mid{
        display: flex;
    }
}
.mid a{
    text-decoration: none;
    color: rgb(68, 63, 63);
    font-weight: bolder;
    margin: 8px;
   
}

.last button a{
    text-decoration: none;
    color: azure;
    font-weight: bolder;
    
}
.last button{
    height: 3em;
    width: 10rem;
  background-color: rgb(72, 72, 245);
  border-radius: 4px;
  border: 0px;
  
  display: none;
}
@media screen and (min-width:800px){
    .last button{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.ham button a img{
    height: 30px;
    display: none;
}
@media screen and (max-width:800px){
    .ham button a img{
        display: flex;
    }
    .first{
        display: flex;
        justify-content: flex-start;
    }
    .inside{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
.content{
    max-height: 40rem ;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 2rem;
    overflow-y: auto;
}
#hero{
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    gap: 10px;
   overflow-x: hidden;
    align-items: center;
    

}


.right img{
    width: 30rem;
    height: 30rem;
    border-radius: 20px;
   
}
.right{
    width: 80%;
    
}


.para{
   text-align: left;
    color: blue;
    
}
.left{width: 70%;
  animation: leftbox 1.2s ease-out 1;
   position: relative;
   gap: 60px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}
.left h1{
   font-size: 50px;
   font-weight: 100px;
    text-align: left;
    /* margin-left: 2rem;
    margin-right:2rem ;
    margin-top: 1rem;
    margin-bottom: 3rem; */
}
.par{
   text-align: left;
    /* margin: 2rem; */
}
.buto {
    text-align: start;
    /* margin-left: 2rem; */
    display: flex;
    gap: 1rem;
}
.buto .start{
    background-color: rgb(72, 72, 245);
    border: none;
    width: 5rem;
    height: 2rem;
  border-radius: 6px;
}
.buto .start a{
    color: azure;
    font-size: 15px;
  
}
.buto .Tour{
    background-color: rgb(111, 104, 104);
    border: none;
    width: 5rem;
    height: 2rem;
  border-radius: 6px;
  

}
.buto .Tour a{
    color: azure;
    font-size: 15px;
  
}
@keyframes leftbox {
    0% {
    transform: translateX(-100vw); /* Fully off screen */
  }
  100% {
    transform: translateX(0); /* Original position */
  }
}
@media screen and (max-width:800px){
    .content{
        padding: 0;
    }
    #hero{
        display: flex;
        flex-direction: column;
    }
    .left {
    animation: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    text-align: center;
  }

  .right {
    width: 100%;
  }

  .right img {
    width: 100%;
    height: auto;
  }
}
.company{
    
  
    max-width: 80%;
 margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  anim
  
}
.comgrid{
    animation: leftbox 1.2s ease-out 1;
    display: grid;
  max-width: fit-content;
  
   display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right :2rem;
  padding-left: 2rem;
border-radius: 5px;
   gap: 3.6rem;
   background-color: rgb(239, 237, 237);
       grid-template-columns: repeat(4,4fr);
       grid-template-rows: repeat(1,2fr);
    
}
.company h2{
    
     padding-top: 2rem;
 padding-bottom: 1rem;
 
 
}
.item1{
    
    height: 5rem;
 display: flex;
 justify-content: center;
 align-items: center;

}
.item1 img{
    height: 2rem;
    
}
@media screen and (max-width:800px) {
    .company {
       display: flex;
       align-items: center;
    }
    .comgrid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       grid-template-rows: repeat(2,1fr);
      gap: 2rem;
    padding: 0.5rem;

    }
    .item{
        padding: 1rem;
        max-width: 12rem;
    }
}

.low{
    display: grid;
   grid-template-columns: repeat(2,23rem);
   grid-template-rows: repeat(3,14rem);
    gap: 20px;
    margin-bottom: 2rem;
   
}
.card{
    width: 100vw;
   background-color: rgb(235, 227, 227);
  margin-top:2rem ;
  margin-bottom: 2rem;

}
#cardgrid{
    max-width: 50rem;
    margin: auto;
    overflow-x: hidden;
}
.up{
    padding-top:3rem;
    padding-bottom: 1rem;
}
.itemsss img{
   
   width: 2em;
  
}
.itemsss{
    background-color: aqua;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
@media screen and (max-width:800px){
    .low{
        display: grid;
         grid-template-columns: repeat(1,20rem);
   grid-template-rows: repeat(6,14rem);
   justify-self:center;
    }
}
.test{
    width: 100%;
   margin-top: 4rem;
   margin-bottom: 4rem;
}
.testcon{
    max-width: 75rem;
   
    margin: auto;
  
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    
    align-items: center;

}
.testcon h2{
    text-align: center;
font-size: 2.3rem;
overflow-x: hidden;
    
}
.testgrid{
    display: grid;
    grid-template-columns: repeat(3,23rem);
     
      gap: 3rem;
      justify-self: center;
}
.it{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 10px;
    position: relative;
    border: 2px solid rgb(158, 152, 152);
    box-shadow: 3px 3px 25px 0px rgb(130, 130, 130);
   
}
 .item pa{
    color: rgb(72, 72, 245);
 }  
.it img{
    width: 4rem;
    height: 4rem;
}
.it h4{
    font-size: 1rem;
    font-weight: 500000;
    
}
.it:hover{
    transform: scale(1.1);
    
}
@media screen and (max-width:800px) {

    .testgrid{
        display: grid;
        grid-template-columns: repeat(1,20rem);
        
        align-self: center;
        overflow-x: hidden;
    }
}
.news{
    width: 100%;
   overflow-x: hidden;
}
.newcon{
    
  border-radius: 5px;
   max-width: 75rem;
   margin: auto;
   height: 15.1rem;
   display: flex;
   border: 1px solid gainsboro;
   background-color: rgb(233, 232, 232);
}
.newsl img{
    width: 33rem;
    height: 15rem;
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
}
.newsr{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.sig{
    text-align: left;
}
.sig h1{
    color: rgb(72, 72, 245) ;
}
#form{
   width: 10rem;
   height: 2rem;
}
.newsr button{
      width: 5rem;
      height: 2rem;
      background-color:  rgb(72, 72, 245);
      color: aliceblue;
      border-radius:0.3rem ;
}
@media screen and (max-width:800px) {
    .newsl{
      display: none;
    }
    
}
.foot{
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    
}

.upperss{
    display: flex;
    align-items: center;
} 
.upperss span{
    font-size: 35px;
    font-weight: 700;
}
.fl{
   margin-top: 1.5rem;
    max-width: 20rem;
    max-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
.iconss img{
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}
.fr{
    max-width: 60rem;
    margin: 0;
   
}

.tab{
width: 40rem;
    height: 20rem;
}
.footerbox{
    padding: 2rem;
}
@media screen and (max-width:800px){
    .fl{
        display: none;
    }
    .tab{
        width: 20rem;
        border-spacing: 15px;
     
    }
    .fr{
       
        padding-right: 20rem;
    }
}